{
  "APP_NAME": "Alarmion",
  "PACKAGE_NAME": "com.qwertypnks.alarmion",
  "BUNDLE_UID": "com.qwertypnks.alarmion.main",
  "IS_MASTER_BUNDLE": "yes",
  "BUNDLE_INSTALLED": "yes",
  "LOCAL_DOMAIN": "alarmion.ddns.net",
  "LOCAL_DOMAIN_ALIAS": "",
  "DEV_DOMAIN": "alarmion.ddns.net",
  "DEV_DOMAIN_ALIAS": "",
  "STAGE_DOMAIN": "alarmion.ddns.net",
  "STAGE_DOMAIN_ALIAS": "",
  "PROD_DOMAIN": "alarmion.ddns.net",
  "PROD_DOMAIN_ALIAS": ""
}
